#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.link>p {
  word-break: break-all;
}

.link>p>span:first-child {
  color: powderblue;
}

.link>p>span:last-child {
  color: rgb(240, 248, 255,.4);
}

.btn-area {
  margin-top: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  align-items: space-between;
}